@tailwind base;
@tailwind components;
@tailwind utilities;


.hero-pattern::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    pointer-events: none;
  }

input{
    width: 100%;
    color: black;
    background: none;
    outline: none !important;
}

input::placeholder {
    color: white; 

  }

  .css-1xc3v61-indicatorContainer .css-tj5bde-Svg {
    /* background-image: url('./assets/location-sign-svgrepo-com.svg') !important;  */
    width: 20px; /* Adjust to match the SVG's width */
    height: 20px; /* Adjust to match the SVG's height */
    fill: red;
    content: "";

  }

  .custom-icon::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    fill: red;

  }

 .css-13cymwt-control{
    border-radius: 50px !important;
    border: none;
    border-style: none !important;
  }


  .react-datepicker {
    font-family: Arial, sans-serif;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }

  .react-datepicker__month-container {
    display: flex;
    flex-direction: column;
  }

  .react-datepicker__current-month {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .react-datepicker__day {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
  }

  .react-datepicker__day--disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  .react-datepicker__day--today {
    background-color: #f0f0f0;
  }

  .react-datepicker__day--keyboard-selected {
    background-color: #87CEEB;
    color: white;
  }
  .react-datepicker__navigation{
    top: 40px;
  }

  .ant-modal-footer{
    display: none;
  }

  .css-13cymwt-control{
    /* justify-content: space-between !important; */
    padding: 5px;
  }

  .carousel .thumbs-wrapper {
    display: none;
  }


  .css-b62m3t-container{
    width: 100%;
  }


  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #363636 ; 
    font-weight: 500;
 }

 
 .ant-tabs-ink-bar {
    position: absolute;
    background: #000000;
    pointer-events: none;
 }
  


 /*	The box around the slider*/
 .switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}
/*		Hide default Html checkbox*/
.switch input{
  opacity: 0;
  width: 0;
  height: 0;

}
	.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}
/*		Hide default Html checkbox*/
.switch input{
  opacity: 0;
  width: 0;
  height: 0;

}
/*
The slider*/
  .sliderm{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
/*
::before is used to add contents before a previously set content*/

  .sliderm:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
  }


  input:checked + .sliderm{
    background-color: rgb(255, 177, 33);
  }


  input:focus + .sliderm{
    box-shadow: 0 0 1px rgb(255, 177, 33);
  }


  /*	The css thaat handles the movements*/
  input:checked + .sliderm:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


/*		Round sliders*/
  .sliderm.round{
    border-radius: 34px;
  }
  .sliderm.round:before{
    border-radius: 50%;
  }




  /* for chat support */

  .transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}



.transition-5 {
  transition: all 0.66s ease;
  -webkit-transition: all 0.66s ease;
  -moz-transition: all 0.66s ease;
}



:where(.css-dev-only-do-not-override-3mqfnx).ant-picker-dropdown .ant-picker-panel-container .ant-picker-panels {
  flex-wrap: wrap;
}
  


@keyframes typing-indicator {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px); /* Adjust the amplitude (5px) as needed */
  }
}  


.typing-bubble {
  width: 20px;
  height: 20px;
  background-color: #3498db; /* Change the bubble color as needed */
  display: inline-block;
  margin-right: 5px;
  border-radius: 50%;
  animation: typing-indicator 1s infinite;
}




:where(.css-dev-only-do-not-override-3mqfnx).ant-picker-dropdown-range {
  padding: 10.666666666666666px 0;
  width: 70%;
}